Django>=5.2  # Using 5.2 for better compatibility with 3.12
gunicorn
whitenoise
dj-database-url
psycopg2-binary
django-cors-headers
google-generativeai
chromadb
langchain-community
langchain-chroma
langchain-google-genai
requests